<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <appSettings>
    <add key="ServerConnectionString" value="Data Source=DESKTOP-H8J4IK0;Initial Catalog=Kukuku;Integrated Security=True" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
    <connectionStrings>
        <add name="SPA.Properties.Settings.SPAConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\SPA.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>